{% extends 'base.html' %}
{% block contenido %}
<h2>Agregar Lote a un Campo</h2>
<form method="POST">
    <label>Campo:</label>
    <select name="campo_id">
        {% for c in campos %}
        <option value="{{ c[0] }}">{{ c[2] }} → {{ c[1] }}</option>
        {% endfor %}
    </select><br>

    <input type="text" name="nombre" placeholder="Nombre del lote"><br>
    <input type="number" step="0.01" name="superficie" placeholder="Superficie (ha)"><br>
    <button type="submit">Guardar lote</button>
</form>
{% endblock %}
